{% load static %}
<html lang="ja">
  <head>
		<meta charset="utf-8">
		<!-- Bootstrap viewport metatag -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TODOアプリ</title>
		<!-- サイトのキャプション -->
		<meta name="description" content="#">
		<!-- サイトキーワードを,で区切って入力 -->
		<meta name="keywords" content="#">
		<!-- CSSファイルのロード -->
		<link rel="stylesheet" href="{% static 'todo/css/todo-list.css' %}">
		<!-- JavaScriptファイルのロード -->
		<script src="#"></script>

	</head>

	<body>

		{% block contents %}
		{% endblock %}

	</body>
</html>
